django>=6,<6.2
django-unfold>=0.104,<0.105
djangorestframework>=3.18,<3.19
django-cors-headers>=4.8,<5.0
gunicorn>=26,<26.3
psycopg[binary]>=3.3,<3.4
whitenoise>=6.9,<7.0
python-json-logger>=4,<4.3
reportlab>=5,<5.1
pypdf>=6,<7
pytesseract>=0.3.13,<0.4
pdf2image>=1.17,<2
Pillow>=11,<13
sentry-sdk[django]>=2,<3
