{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Car Service Platform Admin{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'admin/custom/admin.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} admin-modernized{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">Car Service Platform Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
